.formacao {
  background: #141414;
  color: #ffffff;
}
.formacao-container {
  max-width: 1200px ;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  
}
.formacao .sub-titulo {
  color: #000 ;
  max-width: 4ch;
}
.formacao .sub-titulo:hover {
  color: #67dd0a ;
  transition: 4s;
}
.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #a3a3a3;
}

.formacao-texto strong {
  color: #ffffff;
}

.faculdade_lista {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.faculdade {
  flex: 1;
  background: #000000;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  border: 3px solid #000000;
}
.faculdade:hover {
  border-top: 3px solid #67dd0a;
  cursor: pointer;
  transform: translateY(-10px);
  transition: 0.5s;
}
.faculdade-tipo {
  font-size: .875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.faculdade-curso {
  flex: 1;
  font-size: .875rem;
  line-height: 1.4;
  margin-bottom: 40px;
}
.curso:hover {
  color: #67dd0a;
}

.faculdade-instituicao {
  font-size: 1.125rem;
  color: #a3a3a3;
}

.cursos {
  color: #ffffff;
  margin-bottom: 60px;
}
.curso {
  color: #ffffff;
}

.formacao-extra {
  padding: 10px;
}

.formacao-extra h3 {
  font: .875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
  
}
.formacao-extra h3::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: -2px;
}

.cursos h3::before {
  background: url(img/cursos.svg) no-repeat center center;
}

.Idiomas h3::before {
  background: url(img/idiomas.svg) no-repeat center center;
}

.formacao-extra li {
  font: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.formacao-extra span {
  color: #8f8f8f;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .formacao .sub-titulo {
    color: #ffffff;
    margin: auto;
  }
  .formacao-texto {
    font-size: 1.25rem;
    margin: auto;
    margin-bottom: 20px;
  }
  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }
}